<header class="ud-fixed ud-left-0 ud-top-0 ud-w-full ud-z-9999 ud-py-7 lg:ud-py-0"
  :class="{ 'ud-bg-dark/70 ud-backdrop-blur-lg ud-shadow !ud-py-4 lg:!ud-py-0 ud-transition ud-duration-100 before:ud-absolute before:ud-w-full before:ud-h-[1px] before:ud-bottom-0 before:ud-left-0 before:ud-features-row-border' : stickyMenu }"
  @scroll.window="stickyMenu = (window.scrollY > 0) ? true : false">
  <div
    class="ud-max-w-[1170px] ud-mx-auto ud-px-4 sm:ud-px-8 xl:ud-px-0 lg:ud-flex ud-items-center ud-justify-between ud-relative">
    <div class="ud-w-full lg:ud-w-1/4 ud-flex ud-items-center ud-justify-between">
      <a href="index.html">
        <img src="./images/logo/logo.svg" alt="Logo" />
      </a>

      <!-- Hamburger Toggle BTN -->
      <button class="lg:ud-hidden ud-block" @click="navigationOpen = !navigationOpen">
        <span class="ud-block ud-relative ud-cursor-pointer ud-w-5.5 ud-h-5.5">
          <span class="du-block ud-absolute ud-right-0 ud-w-full ud-h-full">
            <span
              class="ud-block ud-relative ud-top-0 ud-left-0 ud-bg-white ud-rounded-sm ud-w-0 ud-h-0.5 ud-my-1 ud-ease-in-out ud-duration-200 ud-delay-[0]"
              :class="{ '!ud-w-full ud-delay-300': !navigationOpen }"></span>
            <span
              class="ud-block ud-relative ud-top-0 ud-left-0 ud-bg-white ud-rounded-sm ud-w-0 ud-h-0.5 ud-my-1 ud-ease-in-out ud-duration-200 ud-delay-150"
              :class="{ '!ud-w-full ud-delay-400': !navigationOpen }"></span>
            <span
              class="ud-block ud-relative ud-top-0 ud-left-0 ud-bg-white ud-rounded-sm ud-w-0 ud-h-0.5 ud-my-1 ud-ease-in-out ud-duration-200 ud-delay-200"
              :class="{ '!ud-w-full ud-delay-500': !navigationOpen }"></span>
          </span>
          <span class="du-block ud-absolute ud-right-0 ud-w-full ud-h-full ud-rotate-45">
            <span
              class="ud-block ud-bg-white ud-rounded-sm ud-ease-in-out ud-duration-200 ud-delay-300 ud-absolute ud-left-2.5 ud-top-0 ud-w-0.5 ud-h-full"
              :class="{ '!ud-h-0 ud-delay-[0]': !navigationOpen }"></span>
            <span
              class="ud-block ud-bg-white ud-rounded-sm ud-ease-in-out ud-duration-200 ud-delay-400 ud-absolute ud-left-0 ud-top-2.5 ud-w-full ud-h-0.5"
              :class="{ '!ud-h-0 ud-dealy-200': !navigationOpen }"></span>
          </span>
        </span>
      </button>
      <!-- Hamburger Toggle BTN -->
    </div>

    <div
      class="ud-w-full lg:ud-w-3/4 ud-h-0 lg:ud-h-auto ud-invisible lg:ud-visible lg:ud-flex ud-items-center ud-justify-between"
      :class="{ '!ud-visible ud-bg-dark ud-shadow-lgud-relative !ud-h-auto ud-max-h-[400px] ud-overflow-y-scroll ud-rounded-md ud-mt-4 ud-p-7.5': navigationOpen }">
      <nav>
        <ul class="ud-flex lg:ud-items-center ud-flex-col lg:ud-flex-row ud-gap-5 lg:ud-gap-2">
          <li class="nav__menu lg:ud-py-7" :class="{ 'lg:!ud-py-4' : stickyMenu }">
            <a href="/#home"
              class="ud-relative ud-text-white/80 ud-text-sm ud-py-1.5 ud-px-4 ud-border ud-border-transparent hover:ud-text-white hover:ud-nav-gradient"
              :class="{'!ud-text-white ud-nav-gradient' :page === 'home'}">Home</a>
          </li>
          <li class="nav__menu lg:ud-py-7" :class="{ 'lg:!ud-py-4' : stickyMenu }">
            <a href="/#features"
              class="ud-relative ud-text-white/80 ud-text-sm ud-py-1.5 ud-px-4 ud-border ud-border-transparent hover:ud-text-white hover:ud-nav-gradient">Features</a>
          </li>
          <li class="nav__menu lg:ud-py-7" :class="{ 'lg:!ud-py-4' : stickyMenu }">
            <a href="/#pricing"
              class="ud-relative ud-text-white/80 ud-text-sm ud-py-1.5 ud-px-4 ud-border ud-border-transparent hover:ud-text-white hover:ud-nav-gradient">Pricing</a>
          </li>
          <li class="ud-group ud-relative lg:ud-py-7" :class="{ 'lg:!ud-py-4' : stickyMenu }"
            x-data="{ dropdown: false }">
            <a href="#"
              class="ud-relative ud-text-white/80 ud-text-sm ud-py-1.5 ud-px-4 ud-border ud-border-transparent hover:ud-text-white hover:ud-nav-gradient ud-flex ud-items-center ud-justify-between ud-gap-3"
              @click.prevent="dropdown = !dropdown"
              :class="{ '!ud-text-white ud-nav-gradient': page === 'about' || page === 'pricing' || page === 'blog-grid' || page === 'blog-single' || page === 'signin' || page === 'signup' || page === '404' }">
              Pages

              <svg class="ud-fill-current ud-w-3 ud-h-3 ud-cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path
                  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
              </svg>
            </a>

            <!-- Dropdown Start -->
            <ul class="ud-dropdown" :class="{ 'ud-flex': dropdown }">
              <li>
                <a href="about.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === 'about' }">About Us</a>
              </li>
              <li>
                <a href="pricing.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === 'pricing' }">Pricing Table</a>
              </li>
              <li>
                <a href="blog-grid.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === 'blog-grid' }">Blog Grid</a>
              </li>
              <li>
                <a href="blog-single.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === 'blog-single' }">Blog Single</a>
              </li>
              <li>
                <a href="signin.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === 'signin' }">Sign In</a>
              </li>
              <li>
                <a href="signup.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === 'signup' }">Sign Up</a>
              </li>
              <li>
                <a href="404.html"
                  class="ud-flex ud-text-sm ud-text-white/70 hover:ud-text-white ud-py-2 ud-px-4 ud-rounded-md hover:ud-bg-white/5"
                  :class="{ '!ud-text-white ud-bg-white/5': page === '404' }">Error Page</a>
              </li>
            </ul>
            <!-- Dropdown End -->
          </li>
          <li class="nav__menu lg:ud-py-7" :class="{ 'lg:!ud-py-4' : stickyMenu }">
            <a href="/#support"
              class="ud-relative ud-text-white/80 ud-text-sm ud-py-1.5 ud-px-4 ud-border ud-border-transparent hover:ud-text-white hover:ud-nav-gradient">Support</a>
          </li>
        </ul>
      </nav>

      <div class="ud-flex ud-items-center ud-gap-6 ud-mt-7 lg:ud-mt-0">
        <a href="signin.html" class="ud-text-white ud-text-sm hover:ud-text-opacity-75">Sign in</a>

        <a href="signup.html"
          class="ud-button-border-gradient ud-relative ud-rounded-lg ud-text-white ud-text-sm ud-flex ud-items-center ud-gap-1.5 ud-py-2 ud-px-4.5 ud-shadow-button hover:ud-button-gradient-hover hover:ud-shadow-none lg:ud-transition-all lg:ud-ease-linear lg:ud-duration-300">
          Sign up

          <svg class="ud-mt-0.5" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.4002 7.60002L9.2252 2.35002C9.0002 2.12502 8.6502 2.12502 8.4252 2.35002C8.2002 2.57502 8.2002 2.92502 8.4252 3.15002L12.6252 7.42502H2.0002C1.7002 7.42502 1.4502 7.67502 1.4502 7.97502C1.4502 8.27502 1.7002 8.55003 2.0002 8.55003H12.6752L8.4252 12.875C8.2002 13.1 8.2002 13.45 8.4252 13.675C8.5252 13.775 8.6752 13.825 8.8252 13.825C8.9752 13.825 9.1252 13.775 9.2252 13.65L14.4002 8.40002C14.6252 8.17502 14.6252 7.82503 14.4002 7.60002Z"
              fill="white" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>