<!-- ====== Footer Section Start -->
<footer class="relative z-10 pb-17.5 lg:pb-22.5 xl:pb-27.5">
  <!-- bg shapes -->
  <div class="absolute bottom-0 left-0 w-full flex flex-col gap-3 -z-1 opacity-50">
    <div class="w-full h-[1.24px] footer-bg-gradient"></div>
    <div class="w-full h-[2.47px] footer-bg-gradient"></div>
    <div class="w-full h-[3.71px] footer-bg-gradient"></div>
    <div class="w-full h-[4.99px] footer-bg-gradient"></div>
    <div class="w-full h-[6.19px] footer-bg-gradient"></div>
    <div class="w-full h-[7.42px] footer-bg-gradient"></div>
    <div class="w-full h-[8.66px] footer-bg-gradient"></div>
    <div class="w-full h-[9.90px] footer-bg-gradient"></div>
    <div class="w-full h-[13px] footer-bg-gradient"></div>
  </div>

  <div class="max-w-[1170px] mx-auto px-4 sm:px-8 xl:px-0 relative pt-17.5">
    <div class="w-full h-[1px] footer-divider-gradient absolute top-0 left-0"></div>

    <div class="flex flex-wrap justify-between">
      <div class="mb-10 max-w-[571px] w-full">
        <a class=" s mb-8.5 inline-block" href="index.html">
          <img src="./images/logo/logo.svg" alt="Logo" />
        </a>

        <p class="mb-12 xl:w-4/5">
          La herramienta de escritura con inteligencia artificial está diseñada para brindarte capacidades de escritura excepcionales.
        </p>

        <div class="flex items-center gap-5">
         <a href="https://www.instagram.com/zerochats/reels/" class="hover:text-white ease-in duration-300">
  <svg class="fill-current" width="24" height="24" viewBox="0 0 24 24" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.75 2C4.57436 2 2 4.57436 2 7.75V16.25C2 19.4256 4.57436 22 7.75 22H16.25C19.4256 22 22 19.4256 22 16.25V7.75C22 4.57436 19.4256 2 16.25 2H7.75ZM12 7C14.7614 7 17 9.23858 17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7ZM18 6.5C18.5523 6.5 19 6.94772 19 7.5C19 8.05228 18.5523 8.5 18 8.5C17.4477 8.5 17 8.05228 17 7.5C17 6.94772 17.4477 6.5 18 6.5ZM12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9Z"
      fill="" />
  </svg>
</a>


           
        </div>

         
      </div>

      <div class="max-w-[571px] w-full">
        <div class="flex flex-col sm:flex-row sm:justify-between gap-10">
          <div>
            <h5 class="font-semibold text-white mb-5">Productos</h5>

            <ul class="flex flex-col gap-3.5">
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Features</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Integraciones</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Precios</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Registro de cambios</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Hoja de ruta</a>
              </li>
            </ul>
          </div>

          <div>
            <h5 class="font-semibold text-white mb-5">Compañía</h5>

            <ul class="flex flex-col gap-3.5">
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">política de privacidad</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Política de reembolso</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Apoyo</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Comunidad</a>
              </li>
            </ul>
          </div>

          <div>
            <h5 class="font-semibold text-white mb-5">Apoyo</h5>

            <ul class="flex flex-col gap-3.5">
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Características</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Integraciones</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Precios</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Registro de cambios</a>
              </li>
              <li>
                <a href="/#" class="font-medium ease-in duration-300 hover:text-white">Hoja de ruta</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ====== Footer Section End -->