@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* third-party libraries CSS */

#supportCheckbox:checked ~ div span {
  @apply ud-opacity-100;
}

@layer base {
  html {
    @apply ud-scroll-smooth;
  }

  html.sr {
    @apply !ud-py-0;
  }

  body {
    @apply ud-font-plus-jakarta ud-font-normal ud-text-base ud-text-dark-3 ud-relative ud-z-1 ud-bg-dark;
  }
}

@layer components {
  .ud-dropdown {
    @apply ud-flex-col ud-gap-1 ud-min-w-max lg:ud-w-[208px] ud-mt-2 lg:ud-mt-0 ud-bg-[#1C192C] ud-shadow-lg ud-ease-in ud-duration-300 ud-p-3 ud-rounded-lg ud-left-0 ud-hidden
    lg:ud-translate-y-10 lg:ud-opacity-0 lg:ud-invisible lg:ud-absolute lg:ud-flex
    lg:group-hover:ud-translate-y-3 lg:group-hover:ud-opacity-100 lg:group-hover:ud-visible;
  }

  .ud-box-hover {
    @apply before:ud-duration-500 before:ud-transition-opacity before:ud-blur-[100px] before:ud-opacity-0 before:ud-bg-purple before:ud-rounded-full before:ud-w-96 before:ud-h-96 before:ud-z-30 before:ud-absolute before:-ud-top-48 before:-ud-left-48 before:ud-pointer-events-none before:ud-translate-x-[var(--mouse-x)] before:ud-translate-y-[var(--mouse-y)] hover:before:ud-opacity-20 after:ud-duration-500 after:ud-transition-opacity after:ud-opacity-0 after:ud-rounded-[inherit] after:ud-z-10 after:ud-inset-0 after:ud-absolute hover:after:ud-opacity-100 after:ud-box-bg;
  }
  .ud-box-hover-small {
    @apply before:!ud-blur-[50px] before:ud-w-48 before:ud-h-48 before:-ud-top-24 before:-ud-left-24;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .ud-no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .ud-no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .ud-box-bg {
    background: radial-gradient(
      180px circle at var(--mouse-x) var(--mouse-y),
      #030014,
      transparent
    );
  }

  .ud-gradient-border {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }

  .ud-gradient {
    background-image: linear-gradient(
      90deg,
      rgba(229, 156, 255, 0.24) 0.01%,
      rgba(186, 156, 255, 0.24) 50.01%,
      rgba(156, 178, 255, 0.24) 100%
    );
  }

  .ud-gradient-2 {
    background-image: linear-gradient(
      90deg,
      #fc72ff 0%,
      #8f68ff 25%,
      #487bff 50%,
      #2cd9ff 75%,
      #2cffcc 100%
    );
  }

  .ud-gradient-3 {
    background-image: linear-gradient(251.09deg, #701efc 5.04%, #cbb3f3 96.95%);
  }

  .ud-gradient-4 {
    background-image: linear-gradient(
      90deg,
      #e59cff 0.01%,
      #ba9cff 50.01%,
      #9cb2ff 100%
    );
  }

  .ud-button-border-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply hover:ud-bg-opacity-0;
  }
  .ud-button-gradient-hover {
    box-shadow: inset 0px -6px 17px rgba(156, 178, 255, 0.3),
      inset 0px 6px 17px rgba(229, 156, 255, 0.3);
  }
  .ud-button-border-gradient:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      90deg,
      rgba(229, 156, 255, 0.45) 0.01%,
      rgba(186, 156, 255, 0.45) 50.01%,
      rgba(156, 178, 255, 0.45) 100%
    );
  }

  .ud-hero-subtitle-text {
    background: -webkit-linear-gradient(
        90deg,
        #e59cff 0.01%,
        #ba9cff 50.01%,
        #9cb2ff 100%
      ),
      -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ud-hero-button-gradient {
    box-shadow: 0px -3px 10px 0px #00000040 inset;
    background: linear-gradient(180deg, #a073ee -11.11%, #6e25ed 100%);
  }
  .ud-hero-subtitle-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
  }
  .ud-hero-subtitle-hover {
    box-shadow: inset 0 -7px 11px #a48fff3d;
  }
  .ud-hero-subtitle-gradient:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.11) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-hero-circle-gradient:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.08) 100%
    );
  }

  .ud-features-row-border {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-features-bg {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  }
  .ud-icon-border {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.0288) 0%,
      rgba(255, 255, 255, 0.06) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-icon-border:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.15) 50.52%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-nav-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 10.51%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 50px;
  }
  .ud-nav-gradient::before {
    content: "";
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 2.56%,
      rgba(255, 255, 255, 0.4) 51.48%,
      rgba(255, 255, 255, 0) 97.44%
    );
    height: 1px;
    @apply ud-w-1/2 ud-absolute ud-left-1/2 -ud-translate-x-1/2 ud-top-0;
  }

  .ud-features-box-border:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      106.24deg,
      rgba(255, 255, 255, 0.15) -0.68%,
      rgba(255, 255, 255, 0) 98.03%
    );
  }
  .ud-features-button-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-features-button-gradient:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      90deg,
      rgba(229, 156, 255, 0.45) 0.01%,
      rgba(186, 156, 255, 0.45) 50.01%,
      rgba(156, 178, 255, 0.45) 100%
    );
  }

  .ud-pricing-grid {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.06) 100%
    );
    opacity: 0.3;
  }
  .ud-pricing-grid-border {
    border-left: 1px solid;
    border-right: 1px solid;
    border-image-source: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.075) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
  }
  .ud-pricing-circle:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 28.19%
    );
  }
  .ud-pricing-item-border:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      47deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-pricing-gradient-text {
    background: -webkit-linear-gradient(
        0deg,
        #e59cff 0.01%,
        #ba9cff 50.01%,
        #9cb2ff 100%
      ),
      -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ud-pricing-gradient-divider {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-pricing-button-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-pricing-button-gradient:before {
    @apply ud-gradient-border ud-gradient-4 hover:ud-gradient-3;
    /* background: linear-gradient(
      0.02deg,
      #e59cff 0.01%,
      #ba9cff 50.01%,
      #9cb2ff 100%
    ); */
  }

  .ud-user-border-gradient:before {
    @apply ud-gradient-border -ud-z-1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-user-divider:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-form-box-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-form-box-gradient:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-cta-box-gradient:before {
    @apply ud-gradient-border;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.18) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-footer-divider-gradient {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .ud-footer-bg-gradient {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-about-divider-gradient {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 49.48%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .ud-team-img-gradient:before {
    @apply ud-gradient-border ud-bg-white/20;
    padding: 5px !important;
    z-index: 1 !important;
  }
}
